<%- include('includes/head.ejs') -%>
</head>
<body>
    <%- include('includes/nav.ejs') -%>
    <main>
      <% if (n.length > 0) { %>
      <div class="flex flex-wrap justify-center items-start mt-10" id="cards">
        <% for (let note of n) { %>
            <article class="p-5 mx-3 my-4 bg-[#e8f1f1] max-w-sm rounded transition ease-in-out delay-200 shadow-2xl hover:shadow-md" id="card" data-note-id="<%= note.id %>" cursor-default>
                <div class="flex justify-between items-baseline border-b-red-800" id="card__textbody">
                    <div class="head mb-2 text-xl font-bold" id="card__title"><%= note.title %></div>
                    <form action="/delete-note" method="POST" >
                      <input type="hidden" name="noteId" value="<%= note.id %>" id="id"> 
                      <button type="submit">
                        <i class='bx bxs-trash-alt bx-sm'></i>
                      </button>
                    </form>
                   
                </div> 
                <div id="card__message"><% const lines = note.body.split('\n'); %>
                          <% for (let line of lines) { %>
                              <p><%= line %></p>
                          <% } %>
                </div>
                <div class="note__timedate flex items-baseline justify-end mt-2" id="card__datetimebody">
                <div class="head mb-2" id="card_time">🕑 <%= note.time %></div>
                <div class="title ml-2" id="card__date">📅 <%=note.date%></div>
                </div>
            </article>
        <% } %>
      </div>
      <% } else { %>
        <h1 class="text-2xl p-5 text-center">Oops, this is empty.....</h1>
      <% } %>
    </main>
</body>
</html>
